.bg{
 
    line-height: 1.5;
    padding-left: 80px;
    padding-top: 120px;
}
.home{
  font-family: 'Poppins', sans-serif;
}
 .p1{
   color:white;
   font-size: 40px;
    font-weight:bold;
}
.p2{
    color:#EC7162;
    font-size: 40px;
    font-weight: bold;

}
.subheading{
  font-size: "28px";
  line-height: "48px";
  font-weight: 700;
  color: white;
  padding-bottom: 8px;
}
.bg-img{
    background-image: url('../images/Frame 1.jpg');
    max-width:100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.btn1{
        color:white;
        background-color:#EC7162 ;
        border: 1px solid #EC7162;
        border-radius: 12px;
        padding:10px 24px;      
}

.btn2{
    color:white;
    background: transparent;
    border: 1px solid #EC7162;
    border-radius: 15px;
    padding:10px 24px;
    margin-left: 15px;
}

.btn2:hover{
    background-color: #EC7162;
    transition: .3s all ease-in-out;
}
.rectangle {
 
  width: 500px;
  height: 100px;
  background:#EC7162;
}
.box{
  padding-top: 250px;
}
.title{
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  color:#45108A;
  font-size: 30px;
}

.rect{
  margin-right: 0;
  margin-top: 50px;
}

.home{
  overflow: hidden;

}

.txt{
    color: #EC7162;
}
.p3{
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.box{
  width:240px;
  height: 290px;
  border-radius:18px;
  background-color:#45108A;
  color: white;
  position: relative;
  z-index: -1;
  padding: 20px;
}
.box-text{
  padding-top: 65px;
  font-weight: 500;
  font-size: 14px;
}
.icon{
  position: absolute;
  height: 70px;
  width:70px;
  background-color:#EC7162;
  border-color: #45108A;
  border-radius: 50%;
  top: -11%;
  right: 38%;
}
.security-btn{
  padding: 12px 94px 20px 30px;
  border-radius: 20px;
  box-shadow: 1px 5px inset #885ebe;
  background-color: #EC7162;
  position: absolute;
  left: 0%;
  top: 66%;
}
.section4{
  margin-top:18px;
  text-align: center;
}
.heading{
  color:#45108A;
  font-size: 20px;
  font-weight: 700;
}
.content{
  color:#EC7162;
  font-size: 12px;
  line-height:2px ;
  font-weight: 700;

}
.bottom{
  border-bottom: 1px solid #EC7162;
}
