.bg{
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 0.7;
    padding-left: 120px;
    padding-top: 150px;
}
 .p1{
   color:white;
   font-size: 50px;
    font-weight:600;

}
.p2{
    color:#EC7162;
    font-size: 85px;
    font-weight: bold;

}
.bg-img{
    background-image: url('../images/Frame 1.jpg');
    max-width:100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.btn1{
        color:white;
        background-color:#EC7162 ;
        border: 1px solid #EC7162;
        border-radius: 12px;
        padding:10px 24px;      
}

.btn2{
    color:white;
    background: transparent;
    border: 1px solid #EC7162;
    border-radius: 15px;
    padding:10px 24px;
    margin-left: 15px;
}

.btn2:hover{
    background-color: #EC7162;
    transition: .3s all ease-in-out;
}
    
  /* mobile */
  /* @media screen and (min-device-width: 480px) and (max-device-width: 768px) { 
    .bg {
        background-image: url('../images/LKLK-01-01.png');
        width: 100%;
        height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  } */
  /* .bg-img2{
    background-image: url('../images/d-02.jpg');
    width: 100%;
    height: 1000px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

  } */

.rectangle {
 
  width: 500px;
  height: 100px;
  background:#EC7162;
}
.box{
  padding-top: 250px;
}
.title{
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  color:#45108A;
  font-size: 35px;
  font-family: 'Roboto',sans-serif;
}
.rect{
  margin-right: 0;
  margin-top: 50px;
}

.home{
  overflow: hidden;

}
.section4{
  
  margin-top:18px;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  
}
.txt{
    color: #EC7162;
}
.p3{
  font-size: 18px;
}
.box{
  width:240px;
  height: 290px;
  border-radius:18px;
  background-color:#45108A;
  color: white;
  position: relative;
  z-index: -1;
  padding: 20px;
}
.box-text{
  padding-top: 50px;
}
.icon{
  position: absolute;
  height: 70px;
  width:70px;
  background-color:#EC7162;
  border-color: #45108A;
  border-radius: 50%;
  top: -11%;
  right: 38%;
}
.security-btn{
  padding: 16px 107px 20px 30px;
  border-radius: 20px;
  box-shadow: 4px 10px inset #885ebe;
  background-color: #EC7162;
  position: absolute;
  left: 0%;
  top: 73%;
}


.section5{
  margin-top:18px;
  font-family: 'Roboto',sans-serif;
  text-align: center;
}
.heading{
  color:#45108A;
  font-size: 18px;
}
.content{
  color:#EC7162;
  font-size: 12px;
  line-height:2px ;
}
.bottom{
  border-bottom: 1px solid #EC7162;
}
